@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap");
body {
  background: rgb(178, 162, 137);
  color: #292318;
  overflow-y: hidden;
  font-family: "Mukta";
}

* {
  margin: 0;
  padding: 0;
}

header {
  background: url("https://i.pinimg.com/564x/74/36/14/74361411b2a4c2e7298bcee418c564da.jpg");
  background-size: 100%;
  display: grid;
  position: fixed;
  top: 0;
  align-items: flex-end;
  justify-content: center;
  height: 35%;
  width: 100vw;
}
header h1 {
  justify-self: center;
}

.search {
  border: 2px rgb(227, 216, 198) solid;
  border-radius: 40px;
  margin-bottom: -2%;
  width: 650px;
  height: 50px;
  background-color: rgb(118, 109, 92);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  border: none;
  position: absolute;
  background-color: rgb(117, 108, 91);
  color: rgb(221, 212, 194);
  left: 3%;
}
.search input:focus {
  outline: none;
}
.search .fa-solid {
  position: absolute;
  right: 3%;
  color: rgb(227, 216, 198);
}

.pick {
  text-align: center;
}

main {
  margin-top: 16%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: center;
  gap: 10%;
}

.firstsec h3 {
  text-align: left;
}

ul {
  list-style: none;
}
ul li {
  border-collapse: separate;
  padding: 13% 0;
  text-align: center;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  margin-top: 3%;
}
ul .list:hover {
  border-bottom: 2px darkmagenta solid;
}
ul .genz:hover {
  background-color: red;
  background-blend-mode: lighten;
}
ul .l1 {
  background: url("https://i.pinimg.com/564x/74/36/14/74361411b2a4c2e7298bcee418c564da.jpg");
  background-size: cover;
  margin-top: 0;
  background-color: red;
  background-blend-mode: lighten;
}
ul .l2 {
  background: url("https://i.pinimg.com/564x/cb/bb/20/cbbb20f01be4f1565955db2ad16811a5.jpg");
  background-size: cover;
}
ul .l3 {
  background: url("https://i.pinimg.com/564x/1b/53/13/1b53139ba3f3545aea40444358a4ec98.jpg");
  background-size: cover;
}
ul .l4 {
  background: url("https://i.pinimg.com/564x/ae/21/0b/ae210bbe36ff4d0f1087767c99a52fc4.jpg");
  background-size: cover;
}
ul .l5 {
  background: url("https://i.pinimg.com/564x/57/90/8d/57908dadbd3c8d510cbe7f421ae0d86c.jpg");
  background-size: cover;
}
ul .g1 {
  background: url("https://i.pinimg.com/564x/22/d3/78/22d3780212c97f8ee00c60503a710f11.jpg");
  background-size: cover;
  margin-top: 0;
}
ul .g2 {
  background: url("https://i.pinimg.com/564x/b0/6b/38/b06b3825903ade979f24fb0559c9344d.jpg");
  background-size: cover;
  background-position-y: -10px;
}
ul .g3 {
  background: url("https://i.pinimg.com/564x/39/c8/13/39c81353599c6946186c04f7937600c3.jpg");
  background-size: cover;
}
ul .g4 {
  background: url("https://i.pinimg.com/564x/97/b4/f2/97b4f2a400ddc50f0704930a59ee2b3d.jpg");
  background-size: cover;
}
ul .g5 {
  background: url("https://i.pinimg.com/564x/63/96/aa/6396aa8962771990bb4304dac2e578e9.jpg");
  background-size: cover;
}

.toppicks {
  margin: 5% auto;
  width: 80%;
}

.animes {
  display: grid;
  text-align: center;
  margin-top: 7.5%;
  grid-template-columns: repeat(3, 50%);
  justify-content: center;
  grid-auto-rows: 300px;
  gap: 10%;
  text-align: center;
}

.vistoro {
  width: 100%;
  height: 100%;
  background: url("https://cdn.myanimelist.net/s/common/uploaded_files/1632590344-8c25d52e9c867090be87a557e9dd66fc.jpeg");
  background-size: cover;
  border-radius: 8px;
  transition: all 0.3s ease-out 0s;
  transform-origin: center;
}
.vistoro:hover {
  transform: scale(1.1);
}

.visokki {
  width: 100%;
  height: 100%;
  background: url("https://resizing.flixster.com/1WSSwxLb1Xa8yoG7ssEAIK3aI9E=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzczM2Q5ZWM1LTg5YmMtNDA5Ni1iMDA1LTI4OTVjN2YyZTUyNS53ZWJw");
  background-size: cover;
  border-radius: 8px;
  transition: all 0.3s ease-out 0s;
  transform-origin: center;
}
.visokki:hover {
  transform: scale(1.1);
}

.visdor {
  width: 100%;
  height: 100%;
  background: url("https://upload.wikimedia.org/wikipedia/en/1/13/The_Case_of_Hana_%26_Alice_poster.jpeg");
  background-size: 100% 100%;
  border-radius: 8px;
  transition: all 0.3s ease-out 0s;
  transform-origin: center;
}
.visdor:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #292318;
  font-weight: bolder;
}

.animess .t1 {
  margin-top: 5%;
}
.animess .toro {
  padding: 7.4% 0%;
  border: 2px white solid;
}

.gens, .cats {
  overflow-y: scroll;
  height: 83%;
}/*# sourceMappingURL=kodoR.css.map */